# ===============================================================================
# PROJECT-SPECIFIC IGNORE STRATEGIES
# ===============================================================================
**/test.ipynb


# ===============================================================================
# COMMON .GITIGNORE STRATEGIES TO ALL PYTHON PROJECTS
# Note: This covers a wide range of possible files and directories.
#       Remove unnecessary entries for your project to avoid conflicts.
# ===============================================================================
# ------------------------------------------------------------------------------
# IDE/editor settings
# ------------------------------------------------------------------------------
**/.vscode/*
**/.devcontainer/*
# ------------------------------------------------------------------------------
# Development-only files
# ------------------------------------------------------------------------------
**/.env
**/.env.development
**/docker-compose.override.yml
# -------------------------------------------------------------------------------
# Log files
# -------------------------------------------------------------------------------
**/*.log
**/*.log.*
**/nohup.out
# ------------------------------------------------------------------------------
# System files etc
# ------------------------------------------------------------------------------
**/.DS_Store
**/.hypothesis/*
**/dask-worker-space/*
# Exclude 'core' files (error dumps)
**/core
# But keeps directories named 'core'
!**/core/*
# ------------------------------------------------------------------------------
# Sphinx documentation build artifacts
# ------------------------------------------------------------------------------
**/docs/build/**
**/docs/source/generated/**
# ------------------------------------------------------------------------------
# Python related files
# ------------------------------------------------------------------------------
**/venv/
**/.venv/
**/.eggs
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
# ------------------------------------------------------------------------------
# IPython / notebooks
# ------------------------------------------------------------------------------
**/.ipynb_checkpoints/
# ------------------------------------------------------------------------------
# Django's Migrations (but only keep __init__.py, this is necessary !)
# ------------------------------------------------------------------------------
**/migrations/*.py
!**/migrations/__init__.py
# ------------------------------------------------------------------------------
# Nginx
# ------------------------------------------------------------------------------
# Do not track the certificates
**/nginx/certs/*
!**/nginx/certs/.gitkeep
# ------------------------------------------------------------------------------
# Django's static and media files
# ------------------------------------------------------------------------------
**/node_modules/*
**/static/assets/dist/*
**/staticfiles/*
**/media/*
!**/static/assets/dist/.gitkeep
!**/staticfiles/.gitkeep
!**/media/.gitkeep
!**/static/assets/src/media/*
